.container{
    margin: 0px auto;
    padding: 0px auto;
    }

.top-nav {
    
    
}

.side-nav {
    
    display: inline-block;
    

}
.main {
    width: ;
    height: 1100px;
    margin: 50px;
    background-color: gray;
}

.sub-content {
    
    display: inline-block;
    background-color: aqua;
}

#advertisement {
    
}
  