.container{
    margin: 10px auto;
    height: 1000px;
    padding: 10px;
    background-color: grey;
}

.top-nav {
    background-color: green;
    
}

.side-nav {
    height: 300px;
    width: 150px;
    background-color: blue;
    display: inline-block;
    
}

.main {
    background-color: red;
    width: 700px;
    height: 400px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin: 10px;
}

.purple{
    width:  660px;
    height: 120px;
    margin: 10px;
    background-color: purple;
}

.sub-content {
    
    display: inline-block;
    
}

#advertisement {
    
}