.container{
    width: 950px;
    background-color: grey; 
    padding:20px;
    margin: 0px auto; 
}
.nav{
    height: 150px;
    background-color: green;
    margin-bottom: 20px; 
}

.nav-secundario{
    height: 300px;
    width: 150px;
    background-color: blue;
    display: inline-block; 
    margin-right: 20px;
}
.main{
background-color: red;
width: 700px;
height: 400px;
display: inline-block;
vertical-align: top;
padding:10px;
}

.yellow{
    height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin: 10px;
}
.purple{
    width: 660px;
    height: 120px;
    margin:10px;
    background-color: purple;